<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>rag</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
<div class="header">
    <h1>Dummy RAG</h1>
    <span id="darkModeToggle">🌙</span>
</div>
<div class="container">
    <div id="messages"></div>
    <div class="controls">
        <textarea id="messageInput" rows="2"></textarea>
        <button id="sendBtn">&#9658;</button>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/static/scripts/script.js"></script>
</body>
</html>
